<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div ng-controller="testCtrl">
	<div ng-repeat="test in testing">
		<p>{{ test.title }}</p>
		<p>{{ test.body }}</p>
		<button ng-click="deletePost(test)" class="btn btn-sm btn-primary">Delete</button>
	</div>
</div>