<div ng-controller="postCtrl">
	<div ng-repeat="post in posts" class="col-sm-6 col-sm-offset-3">
		<div class="page-header" ng-click="viewPost(post)">
			<h1 class="post-header">{{ post.title }}</h1>
			<small class="text-muted">{{ post.created_at | date }}</small>
		</div>
		<p>{{ post.body }}</p>
		<button ng-show="signedIn()" class="btn btn-sm btn-primary" ng-click="viewPost(post)">Show</button>
		<button ng-show="signedIn()" ng-click="deletePost(post)" class="btn btn-sm btn-primary">Delete</button>
	</div>
</div>
