<div class="flex-container">
	<div class="felx-item avatar">
		[insert picture here]
	</div>
	<div class="flex-item">
		<h1>
			Hi! I'am James. <br>
			<small>
				I'am a software developer
				<a href="www.paramountdirect.com" class="work-link links">@paramountdirect</a>
			</small>
		</h1>
	</div>
	<div class="flex-item">
		<div class="flex-social links">
			<a href="">
				#[facebook]
			</a>
		</div>
		<div class="flex-social links">
			<a href="">
				#[twitter]
			</a>
		</div>
		<div class="flex-social links">
			<a href="">
				#[linkden]
			</a>
		</div>
	</div>
</div>