<div class="col-md-6 col-md-offset-3">
	<h1 class="post-header">{{ post.title }}</h1>
	<small class="text-muted">{{ post.created_at | date }}</small>
	<br/>
	<div>
		<p ng-bind-html="post.body"></p>
	</div>
	<button ng-show="signedIn()" class="btn btn-sm btn-primary" ng-click="editPost(post)">
		<i class="glyphicon glyphicon-edit"></i> Edit
	</button>
	<button ng-show="signedIn()" class="btn btn-sm btn-danger" ng-click="deletePost(post)">
		<i class="glyphicon glyphicon-remove"></i> Delete
	</button>
</div>
