/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require textAngular
 *= require_self
 */

.ta-toolbar {
    background-color: #F0F0F0;
    padding: 10px 10px 5px;
    margin-left: 0px;
    border: 1px solid #EEE;
}
.ta-editor {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #EEE;
}
button {
	text-shadow: none!important;
}
a {
	text-decoration: none!important;
}
.post-header{
	font-size: 45px;
	cursor: pointer;
}
.post-header:hover:after{
	content: "\e144";
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    padding-left: 5px;
}